@media only screen and (min-width:1px ) and (max-width: 500px ){
    body{
        padding: 0;
        margin: 0;
        font-family: Poppins,sans-serif;
       
    }
    .container-fluid{
        padding: 0 20px;
    }
    
    /*navbar*/
    header{
        display: absolute;
    }
    .nav-brand{
        float:left;
        font-size: 25px;
        margin: 5px 10px;
    
    }
    #logo{
      height: auto;
      width: 20%;
    }
    ul{
        display: none;
        font-size: 15px;
        font-weight:bold;
        margin: 10px 5px;
        float:right
    }
    li{
        display: inline;
        text-decoration: none;
        padding:12px 5px;
    }
    li:hover{
        color:#2489C1;
    }
    hr{
        margin-top: -10px;
        border: 1px solid black;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    }
    
     #SignLog{
        
        color:#2489C1;
        border:1px solid #2489C1;
        border-radius: 5px;
        font-size: 17px;
        cursor: pointer;
    }
    #SignLog:hover{
        color: white;
        background-color: #2489C1;
        
    }
    /*home content*/
    #image{
        height: auto;
        width:100%;
        position: relative;
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
        align-content: center;
       
    }
    h1{ 
        position:relative;
        padding-top: 20px;
        align-items: center;
        font-size: 30px;
    }
    button{
        position:absolute;
        color:white;
        background-color: #2489C1;
        border: 2px solid#2489C1;
        border-radius: 10px;
        padding:5px 10px;
        margin: 5px 10px 60px 5px;
        font-size: 15px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    }
    button:hover{
        transform: scale(.9);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .content{
        align-items: center;
        padding: 10px 10px;
    }
   
    
    #features{
     align-content: center;
    }
    
    
    .border_info{
        display: grid;
        border: 2px solid#2489C1;
        width: 180px;
        height: auto;
        border-radius: 10px;
        text-align: center;
        margin:5px 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    }
    
    p{
        font-size:20px;
    }
    
    #icon{
        height: 50px;
        padding: auto;
        align-self: center;
    }
    #icon_description{
        position: relative;
        padding-top: 10px;
    }
  }

  @media only screen and (min-width:501px ) and (max-width: 987px ){
    h1{ 
        position:relative;
        padding-top: 20px;
        text-align: center justify;
        font-size: 32px;
    }
    button{
        position:absolute;
        color:white;
        background-color: #2489C1;
        border: 2px solid#2489C1;
        border-radius: 10px;
        padding:5px 10px;
        margin: 5px 10px 60px 5px;
        font-size: 15px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    }
    button:hover{
        transform: scale(.9);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

  }

  @media only screen and (min-width:987px ) and (max-width: 1100px ){
    h1{ 
        position:relative;
        padding-top: 20px;
        text-align: center justify;
        font-size: 45px;
    }
    button{
        position:absolute;
        color:white;
        background-color: #2489C1;
        border: 2px solid#2489C1;
        border-radius: 10px;
        padding:5px 10px;
        margin: 5px 10px 60px 5px;
        font-size: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    }
    button:hover{
        transform: scale(.9);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
  }